html, body
{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

label, h2
{
	word-break: break-word;
}

#header_bar
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	background-color: rgb(209, 52, 31);
	z-index: 1;
}

.dropdown_menu_button
{
	background-color: red;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	position: absolute;
	float: right;
	top: 8px;
	right: 8px;
	font-size: 16px;
	cursor: pointer;
	height: 40px;
	width: 40px;
}

.dropdown_menu_button_roundness
{
	border-radius: 4px;
}
		
.dropdown_menu_content
{
	display: none;
	margin: 50px 8px auto;
	float:right;
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_menu_content a
{
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
}

.dropdown_menu_content a:hover
{
	background-color: #ddd;
}

.show
{
	display: block;
}












.selection_image_dropdown
{
    position: relative;
    display: inline-block;
}

.selection_image_dropdown-content
{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    z-index: 1;
}

.selection_image_dropdown:hover .selection_image_dropdown-content
{
    display: block;
}

.selection_image
{
	width:75px;
	height:75px;
	
	border-radius: 50%;
	opacity: 1;
}

.selection_image:hover
{
	border-radius: 50%;
	opacity: 0.75;
}

.selection_image_choice
{
	border-radius: 50%;
	opacity: 1;
}

.selection_image_choice:hover
{
	 border-radius: 50%;
	 opacity: 0.3;
}






.profile_btn
{
    background-color: red;
    color: white;
    padding: 10px 10px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    width: auto;
}

.profile_btn:hover
{
    opacity: 0.8;
}






.container
{
    padding: 16px;
    background-color: #f0f0f0;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

.parallax
{
	z-index:-1;
	position:fixed;
    background-attachment: fixed;
	min-width: 100%;
	min-height: 100%;
	background-position: center center;
	background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.general_btn
{
    background-color: red;
    color: white;
    padding: 10px 10px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    width: 50%;
}

.general_btn:hover
{
    opacity: 0.8;
}


















.profile_image_row
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
	align-items: center;
	justify-content: center;
}

.profile_image_column
{
    -ms-flex: 50%;
    flex: 50%;
    padding: auto;
}

.profile_container
{
    position: relative;
    width: 200px;
}

.profile_container:hover
{
    position: relative;
    width: 200px;
	border-radius: 50%;
}

.profile_image
{
  opacity: 1;
  display: block;
  width: 200px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.profile_middle
{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile_container:hover .profile_image
{
	opacity: 0.5;
	border-radius: 50%;
}

.profile_container:hover .profile_middle
{
	opacity: 1;
	border-radius: 50%;
}

.profile_text
{
  background-color: transparent;
  color: red;
  font-size: 64px;
}

.unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}















#myImg
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover
{
	opacity: 0.7;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption
{    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom
{
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom
{
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close
{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px)
{
    .modal-content 
	{
        width: 100%;
    }
}